%section.col-md-12
  %h2
    #{@preferences.describe_selected_location}
    = render partial: "hpi/search_workflow_action_buttons"

  #charts.view

  #hpi-data
    %table.table
      = indices_table_header( @query_command )

      %tbody
        - @query_command.results.each do |result|
          %tr
            - result.each_with_index do |value, i|
              %td{ class: (i > 0) ? "text-right" : "text-center" }
                = value

  :javascript
    $( function() {
      HpiChart.drawCharts( "#hpi-data table", "#charts", true );

      // workaround jQuery DataTables bug
      // $("#hpi-data table colgroup").remove();

      $("#hpi-data table").dataTable( {
        "aoColumns": [#{@query_command.col_types}],
        "aaSorting": [[ 0, "desc" ]],
        "bFilter": false
      } );

    } );
