.col-md-12
  = render partial: "hpi/search_workflow_action_buttons"
  %h2
    #{@preferences.describe_selected_location}

  #charts.view

%section.col-md-12
  #hpi-data
    .additional-controls.pull-right
    %table.table
      = indices_table_header( @query_command )

      %tbody
        - @query_command.results.each do |result|
          %tr
            - result.each_with_index do |value, i|
              %td{ class: (i > 0) ? "text-right" : "text-center" }
                = value

  :javascript
    $( function() {
      HpiChart.drawCharts( "#hpi-data table", "#charts", true );

      $("#hpi-data table").dataTable( {
        "aoColumns": [#{@query_command.col_types}],
        "aaSorting": [[ 0, "desc" ]],
        "bFilter": false
      } );

      _.defer( function() {
        $(".dataTables_info").appendTo( $(".additional-controls" ) );
        $(".dataTables_paginate").appendTo( $(".additional-controls" ) );
      } );
    } );
