%section.col-md-12
  %h2
    #{@preferences.describe_selected_location}

    .pull-right
      .small
        %a.btn.btn-primary{ href: "#{@preferences.as_path( :hpi )}"}
          Change search settings

  #hpi-data
    %table.table
      %thead
        = indices_table_header( @query_command )

      %tbody
        - @query_command.results.each do |result|
          %tr
            - result.each_with_index do |value, i|
              %td{ class: (i > 0) ? "text-right" : "text-center" }
                = value

  :javascript
    $( function() {
      $("#hpi-data table").dataTable( {
        "aoColumns": [#{@query_command.col_types}]
      } );
    } );
