= form_tag( {controller: :preview, action: :create}, class: "form-horizontal preview", role: "form" ) do
  .row
    = render partial: "hpi/filter_selection"

  .row
    = render partial: "hpi/measure_selection"

  .row
    .col-md-12
      = render_hidden_fields( @preferences )
      = submit_tag( "Preview your results")
