= form_tag( {controller: :preview, action: :create}, class: "form-horizontal preview", role: "form" ) do
  .row
    #results-header.col-md-12
      = render partial: "hpi/selected_location" if @preferences.selected_location_name

  .row
    .col-md-12
      = render partial: "hpi/filter_selection"

  .row
    = render partial: "hpi/measure_selection"

  .row
    .col-md-12
      = hidden_field_tag( :loc, params["loc"] )
      = hidden_field_tag( :user_form, true )
      = submit_tag( "Preview your results")
