.search-form-container
  = form_tag( {controller: :search, action: :create}, class: "form-horizontal search", role: "form") do
    .row
      .col-md-6
        .row
          .col-md-12
            = render partial: @search_display_config_0.partial, locals: @search_display_config_0.locals

      .col-md-6
        .row
          .col-md-12
            = render partial: @search_display_config_1.partial, locals: @search_display_config_1.locals

    .row
      = hidden_field_tag( :compare, 1 ) if @preferences.compare_areas?
      = hidden_field_tag( :source, :search_form )
