.search-form-container
  .row.js
    .col-md-12
      .pull-right
        %a.btn.btn-default.action.action-print{ href: "#{url_for( controller: :hpi, action: :index )}", alt: "clear form", title: "clear form"}
          %i.fa.fa-refresh
          reset the form
        %a.js.hidden.btn.btn-default.action.action-bookmark{ href: "#", alt: "Bookmark the current view", title: "Bookmark the current view" }
          %i.fa.fa-share-square-o
          share this page
        %a.js.hidden.btn.btn-default.action.action-help{ href: "#", alt: "Help and tips", title: "Help and tips" }
          %i.fa.fa-question-circle
          help

  = form_tag( {controller: :search, action: :create}, class: "form-horizontal search", role: "form") do
    .row
      .col-md-6
        .row
          .col-md-12
            = render partial: @search_display_config_0.partial, locals: @search_display_config_0.locals

      .col-md-6
        .row
          .col-md-12
            = render partial: @search_display_config_1.partial, locals: @search_display_config_1.locals

    .row
      = hidden_field_tag( :compare, 1 ) if @preferences.compare_areas?
      = hidden_field_tag( :source, :search_form )
