%h2
  #{@preferences.describe_selected_location( ["Previewing index data for:", "Previewing comparison of: "])}
  .pull-right
    .small
      %a.btn.btn-primary.action.action-show-full-results{ href: "#{@preferences.as_path( :view )}"}
        %i.fa.fa-expand
        show full results
      %a.btn.btn-primary.action.action-download{ href: "#{@preferences.as_path( :hpi_data )}"}
        %i.fa.fa-download
        download data
      %a.btn.btn-default.action.action-print{ href: "#{@preferences.as_path( :print )}", target: "_", alt: "printable view", title: "printable view"}
        %i.fa.fa-print

%p.small
  - count = [5, @query_command.size_all].min
  Showing a preview of the <strong>most recent #{count} of #{@query_command.size_all}</strong> selected months
  %br
  %span.text-muted
    &ndash; select <em>show full results</em> to see more.

.related-locations.small
  = list_related_locations( @preferences )
