!!! html
%html
  %head
    %title Land Registry - search the house price index
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    = stylesheet_link_tag "https://www.gov.uk/service-manual/assets/govuk_template/stylesheets/govuk-template.css", media: "all"
    = stylesheet_link_tag "https://www.gov.uk/service-manual/assets/stylesheets/main.css", media: "all"
  %body.gsdm-body.mainstream.full-width.wide.role-index
    %header#global-header.with-proposition{ role: "banner" }
      .header-wrapper
        .header-global
          .header-logo
            %a#logo.content{ href: "https://www.gov.uk/", title: "Go to the GOV.UK homepage" }
              = image_tag "lr-logo.png"
              Land Registry
        .header-proposition
          .content
            %nav#proposition-menu
              %a#proposition-name{ href: "/fubar" }
                House Price Index Open Data
                %a.beta-tag{ href: ""}
                  beta
              %ul#proposition-links
                %li
                  %a{ href: "" }
                    Search HPI
                %li
                  %a{ href: "download.html" }
                    Download data
                %li
                  %a{ href: "sparql.html" }
                    SPARQL query
      .beta-banner.beta-notice
        %small
          BETA: This is a trial service &ndash; your
          %a{ href: "TODO"}
            feedback
          will help us to improve it.

  #wrapper
    #content.group{ role: "main"}
      = yield
